.main {
  max-width: 600px;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: grey;
  margin: 50px;
  border: 12px dotted white;
}

.leftContainer {
  list-style: none;
  width: 100%;
  display: column;
  margin: 0px 0px 15px 15px;

}

.leftObject {
width: 200px;
height:200px;
background-color: black;
}

.rightMasterContainer {
  justify-content: center;
  width: 65%;
  height: auto;
  color: grey;
  background-color: grey;
  border: 2px dotted red;
  margin: 5px;
}

h1 {
  padding: 12px 0px 0px 15px;
}

h3{
  color:white;
  padding-left: 10px;
}


h2{
  color:white;
  padding-left: 10px;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
  background-color: red;
  justify-content: space-around;
  color: white;
  padding: 10px;
  font-size: 25px;
  width: 45px;
  height: 45px;
  border: 1px dashed white;
  margin: 7px;
  hover
}

/*#col {
  flex: 1;
  background-color: red;
  justify-content: space-around;
  color: white;
  padding: 10px;
  font-size: 25px;
  width: 45px;
  height: 45px;
  border: 1px dashed white;
  margin: 7px;
  hover
}*/


.col:hover {
  background-color: #380606 !important;
}

.clicked{
  background-color: orange;
  border: 1px dashed white;
  color: white;
}


#submit {
  background-color: green;
  padding: 10px;
}

#reset {
  background-color: green;
  padding: 10px;
}

#clear {
  background-color: green;
  padding: 10px;
}

p {
  padding-left: 10px;
}
