.leftContainer {
  display: flex;
  flex-direction: column;
  width: 27%;
  height: auto;
  background-color: grey;
}

.leftObject1 {
width: 150px;
height:200px;
background-color: black;
}

.leftObject2 {
width: 150px;
height:200px;
background-color: black;
}


.rightObject{

}

.rightMasterContainer {
  display: flex;
  flex-direction: column;
}

.rightGridContainer {

}
